run = ["service docker start"]

# If the main file is changed, also change it in Makefile.
entrypoint = "docker-compose  up -d"
hidden = [".gitignore", ".envhash"]

[nix]
channel = "stable-21_11"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]
